@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

:root{
    --primary-color:hsla(203,100%,13%,1);
    --secondary-color:hsla(330,87%,17%);
    --fruit-color:tomato;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans 3', sans-serif;
    padding: 0;
    margin: 0;
}
.btn-backtotops{
    background-color: var(--secondary-color);
    color:#fff;
    padding: 10px;
    border-radius: 10px;

    position: absolute;
    right: 10px;
    bottom: 10px;

    z-index: 200;
}


/* start header section  */
header{
    height: 100vh;
    background:linear-gradient(30deg,rgba(0,0,0,0),rgba(0,0,0,0.5)), url(./../assets/img/banner/banner2.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}



/* start nav bar  */
.navbar{
    background: linear-gradient(rgba(0,0,0,0.3),var(--primary-color));
    padding: 20px 30px;

    transition: all .7s;
}
.navmenus{
    background: linear-gradient(rgba(0,0,0,0.6),var(--primary-color));
    padding: 5px 30px;
}
.menuitems{
    color: #f4f4f4;
    font-size: 13px;
    letter-spacing: 1px;

    transition: color .5s;
}
.menuitems:hover{
    color: skyblue;
}
.lines1,.lines2,.lines3{
    width:25px;
    height: 3px;
    margin: 6px;
}
.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}
.crossxs .lines2{
    opacity: 0;
}
.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}
/* end nav bar  */

/* start banner  */
.banners{
    width: 80%;
    position: absolute;
    top: 50%;
    left:50%;

    transform: translate(-50%,-50%);
}
.bannerheaders{
    animation-name: bnanis;
    animation-duration: 2s;
}
.bannerparagraphs{
    animation-name: bnanis;
    animation-duration: 2s;
    animation-delay: 0.5s;   /*animation ka */

    animation-fill-mode: backwards;  /* code ko nout ka work py pr */
}


@keyframes bnanis{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }  
}
/* end banner  */
/* end header section  */

/* start about us section  */
.aboutuss{
    background-image:linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)
    ), url('./../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}
.aboutuss .lines{
    width: 30%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 3px;
}
.aboutuss .lines:nth-of-type(2){
    width: 20%;
    height: 1px;
}
.aboutuss .lines:nth-of-type(3){
    width: 10%;
    height: 0.5px;
    margin-bottom: 30px;
}
.aboutuss h5{
    background-color: #f4f4f4;
    color: #000;
    border-left:5px solid red;
    padding: 10px;
}
.aboutuss h5 ~ p{
    text-align: left;
    margin: 30px 0;
}
.buldings img{
    width: 350px;

    position: absolute;
    bottom:0;
}
/* end about us section  */

/* start properties section  */
.titles{
    text-transform: uppercase;
    /* background-color: steelblue; */
    display: inline-block;  /*sar shi ta lout pl color ya*/

    padding: 5px 20px;

    position: relative;
}
.titles::before,.titles::after{
    content: '';
    width: 20px;
    height: 20px;

    position: absolute;
}

.titles::before{
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    left: 0;
    bottom: 0;
}

.titles::after{
    border-right: 3px solid red;
    border-top: 3px solid red;
    right: 0;
     top: 0;
}

.propertylists{
    color: #777;
    cursor: pointer;
    user-select: none;
}
.activeitems{
    color: var(--primary-color);
}
/* end properties section  */

/* start adv section  */
.missions{
    background-color: var(--primary-color);
}

.fromlefts{
    animation: formleftani 3s;
}
.fromrights{
    animation: fromrightani 3s;
}

@keyframes formleftani {
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}

@keyframes fromrightani {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }

}
/* end adv section  */

/*Start Services Section*/
.services{
    background: linear-gradient(
      200deg,
      var(--secondary-color),
      var(--primary-color)
    );
  }
  
  .servicecards{
    position: relative;
  
    white-space: pre-wrap;   /*par*/
  
    overflow: hidden;
  }
  
  .servicecards::before{
    /*in other language \n = newline but in css \a | \A but you need to put his parent or before after white-space */
  
    content: 'You may need our service ? \A Try and upgrade your living environment. \a \f004 \f004 \f004';
    font-family: "Font Awesome 5 Free";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    line-height: 2x;
  
    position: absolute;
    left: 0;
    top: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .servicecards::after{
    content: '';
  
  }
  
  .servicecards:hover::before{
    content: '';
    background-color: rgba(0,0,0,0.1);
  
  }
  
  .servicecards img{
    transition: transform 0.5s;
  }
  
  .servicecards:hover img{
    transform: scale(1.1);
  }
  
  .headings{
    width: 40%;
    background-color: rgba(0,0,0,0.7);
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.7;
  
    position: absolute;
    right: 0;
    top: 80%;
  }
  
  /*End Services Section*/

  /* start cilent section  */
  ul.cilentlists{
    list-style: none;
    padding:0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.cilentlists li{
    background-color: #f4f4f4;
    border: 5px solid #e9e9e9;
    padding: 20px 30px;
    margin: 0 auto;
  }
  ul.cilentlists li:hover{
    border-color: var(--primary-color);
    box-shadow: 3px -5px 3px rgba(0,0,0,0.3);
  }
  ul.cilentlists img{
    width: 100px;
  }

  @media(max-width:768px){
    ul.cilentlists li{
        border: 2px solid #e9e9e9;
        padding:10px 20px;
        margin: 0 5px;
    }

    ul.cilentlists img{
        width: 70px;
    }

    ul.cilentlists li:hover{
        box-shadow: 1px -2px 1px rgba(0,0,0,0.3);
    }
  }
  /* end cilent section  */
 
  /* start customer sectionn  */
  .carousel-indicators{
    list-style: none;
  }
  
  .customers{
    background-image:linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,1)
    ), url('./../assets/img/banner/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  /* end customer section  */

  /* start quotation section */
  .quotes{
    background-color: var(--primary-color);
    padding: 30px 50px;
    margin: -30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .quotes .infos{
     display: flex;
     text-align: left;
  }
  .quotes .btn-calls{
    width: 170px;
    height: 50px;
    background-color: var(--secondary-color);
    color:#fff;
    font-size: 15px;
    border-radius: 100px;
    line-height:50px;
    cursor: pointer;

    padding: 0;

    transform: translateY(-1px);

    transition: all .3s;
  }
  .quotes .btn-calls:hover{
    transform: translateY(0px);
    box-shadow: -3px 3px 3px #444;
  }
  .phoneicons{
    width: 30px;
  }
  /* end quotation section */

  /* start furniture section  */
  .furicons img{
    width: 70px;
  }
  .furicons div:nth-of-type(even){ 
    background-color: #f1f1f1;
  }
  /* end furniture section  */

  /*Start Contact Section*/
.contacts{
  background-image: linear-gradient(
    100deg,
    rgba(0,0,0,0.9) 50%,
    rgba(0,0,0,0.5) 30%,
    transparent
  ),url(./../assets/img/banner/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contacts .inputs{
  background-color: transparent;
  color: #fff;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;

  transition: all 0.8s;
}

.contacts .inputs:focus{
  border-bottom: 2px solid var(--secondary-color);
  box-shadow: none;
}

.inputs::placeholder{
  color: rgba(255,255,255,0.5);
}

.labels{
  color: red;
  display: block; 
  margin-left: 10px;
  margin-top: -60px;

  /* transform: translateY(-60px); */
}

.inputs:placeholder-shown + .labels{
  /* opacity: 0; */
  visibility: hidden;
}
 

.submit-btns{
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  outline: none;

  transition: all 0.3s;
}

.submit-btns:hover{
  background-color: var(--primary-color);
  color: #fff;
}

/*End Contact Section*/

  /* start footer section  */
  .footerlinks{
    color: #e2e2e2;
    text-decoration: none;
    font-size: 13px;

    transition: all .3s;
  }
  .footerlinks:hover{
    color:var(--fruit-color);
    border-bottom:1px solid orange;
    letter-spacing: 1px;
  }
/* end footer section  */